@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
body{
    background-color: #170f23;
    color: #DADADA;
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
    height: 100%;
}

button{
    cursor: pointer;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
}

/* SEARCH */
.search-container{
    width: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    background-color: #2f2739;
    padding: 8px;
    border-radius: 30px;
}

.search-container i{
    font-size: 20px;
    display: inline-block;
    padding: 8px;
}

.search-container input{
    width: 100%;
    height: 34px;
    border: none;
    outline: none;
    background-color: #2f2739;
    font-size: 20px;
}

/* CONTAINER MUSIC */
.container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

/* CURRENT MUSIC */

.current-music{
    margin-right: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* CURRENT IMG */

.cd-thumb{
    width: 350px;
    height: 350px;
    margin: 0 auto;

}

.cd-thumb img{
    border-radius: 50%;
    /* animation: spinner 8s infinite linear reverse; */
}

/* CURRENT TITLE */

.current-title h3{
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* CURRENT AUDIO */

.control{
    border-radius: 75px;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.btn-prev,
.btn-next,
.btn-random,
.btn-volume{
    margin: 0 8px;
    background-color: #3c255b   ;
    font-size: 24px;
    color: #DADADA;
    border-radius: 50%;
    transition: 0.7s;
    outline: none;
}

.btn-prev:hover,
.btn-next:hover,
.btn-random:hover,
.btn-volume:hover{
    background-color: purple;
}

.fa-caret-left,
.fa-caret-right,
.fa-shuffle,
.fa-volume-high,
.fa-volume-xmark{
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.btn-volume{
    position: relative;
}

.btn-volume input[type="range"]{
    position: absolute;
    bottom: 200%;
    transform: rotate(-90deg) translateY(-50%);
    left: -40%;
    width: 100px;
    height: 10px;
    display: none;
}

.btn-volume:hover input[type="range"] {
    display: block;
}

.mute{
    display: none;
}

.control .play{
    background-color: #7200a1;
    border: none;
    color: #DADADA;
    width: 100%;
    height: 100%;
    border-radius: 75px;
    padding: 8px 16px;
}

.control .play.playing .fa-circle-play{
    display: none;
}

.control .play.playing .fa-pause {
    display: inline-block;
}

.control .play .fa-pause {
    display: none;
}

.range-control{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.current-time{
    margin-right: 10px;
}

.range{
    width: 60%;
    background-color: tomato;
    appearance: none;
    border-radius: 8px;
    outline: none;
    opacity: 0.7;
    cursor: pointer;
    height: 6px;
}

.playing{

    transition: 0.5s;
}

.pause{
    display: none;
    transition: 0.5s;
}

/* LIST MUSIC */
.play-list{
    width: 60%;
    background-color: #231537;
    padding: 8px 16px;
}

.music-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 12px 12px;
    transition: 0.5s;
}

.music-group:hover{
    background-color: #7200a1;
}

.music-group .wrapper-music{
    display: flex;
}
.wrapper-music i{
    line-height: 40px;
}

.wrapper-music .title{
    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: space-between;

}

.wrapper-music .title p{
    white-space: nowrap;
    text-overflow: ellipsis;
}

.music-group img{
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.music-group > p {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
} 

.active{
    background-color: #4a3663;
}




























































@keyframes spinner{
    from{
        transform: rotate(360deg);
    }
}
